.bb { border-bottom: 1px solid #ddd; }

.floatr { float: right; }

.spacer { margin:0; padding:0; height:30px; }
.done-true {
  text-decoration: line-through;
  /*color: grey;*/
}

.pointer {
    cursor: pointer;
}

.panel-body h1 {
    font-size: 2em;
    margin-top: 0px;
}

.panel-body h2 {
    font-size: 1.8em;
}
