<!doctype html>
<html ng-app="keepIt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/documents-proto.js"></script>
    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/xeditable.js"></script>
    <link href="css/vendor/xeditable.css" rel="stylesheet">
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services/notes.js"></script>
    <script src="js/services/todos.js"></script>
    <script src="js/controllers/notes.js"></script>
    <script src="js/controllers/todo.js"></script>
    <script src="js/controllers/find.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/marked.js"></script>
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script src="js/vendor/angular-md.js"></script>
    <script src="js/vendor/clipboard.min.js"></script>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/todo.css">
    <title>keepIt</title>
</head>
<!-- fermeture du menu après un clic -->
<body>
<script type="text/javascript">
$(document).ready(function () {
  $(".navbar-nav li a").click(function(event) {
    $(".navbar-collapse").collapse('hide');
  });
});
</script>
<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ng-click="item=0">keepIt</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: item===1 }"><a href="#/todos" ng-click="item=1">Todos</a></li>
        <li ng-class="{ active: item===2 }"><a href="#/notes" ng-click="item=2">Notes</a></li>
        <li ng-class="{ active: item===3 }"><a href="#/aide" ng-click="item=3">Aide</a></li>
        <li><a href="https://framagit.org/bberteau/todojs" target="_blank">Framagit</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <div ng-view></div>
</div>
</div>
<script>
var clipboard = new Clipboard('#copy-btn');
</script>
</body>
</html>
