<div class="docs-wrapper">
    <h1>{{pageTitle}}</h1>
    <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3" ng-repeat="todo in todosFound">
        <div class="panel panel-info checkbox">
        <div class="panel-heading">
            <span ng-show="todo.star" class="glyphicon glyphicon-star pointer text-primary" ng-click="toggleStar(todo)"></span>
            <span ng-show="!todo.star" class="glyphicon glyphicon-star-empty pointer text-muted" ng-click="toggleStar(todo)"></span>
            <a ng-href="#/todo/{{todo.index}}">{{todo.title || "Sans titre"}}</a>&nbsp;&nbsp;<span class="glyphicon glyphicon-trash floatr pointer" ng-dblclick="todosList.delTodo($index)"></span>
        </div>
        <div class="panel-body pointer" ng-click="changeLocation('/todo/'+todo.index)">
            <span ng-repeat="task in todo.tasks"><span class="done-{{task.done}}">{{task.name}}</span><span ng-show="$index<(todo.tasks.length-1)"> / </span></span>
            </a>
        </div><div class="panel-footer">
            <i class="glyphicon glyphicon-tag"></i>
               <span ng-show="todo.tags.length===0" class="text-primary">Pas de tag</span>
               <span ng-repeat="tag in todo.tags"><span class="label label-info pointer" ng-click="changeLocation('/tag/'+tag)">{{tag}}</span> </span>
        </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3" ng-repeat="note in notesFound">
        <div class="panel panel-info">
        <div class="panel-heading">
            <span ng-show="note.star" class="glyphicon glyphicon-star pointer text-primary" ng-click="toggleStar(note)"></span>
            <span ng-show="!note.star" class="glyphicon glyphicon-star-empty pointer text-muted" ng-click="toggleStar(note)"></span>
            <a ng-href="#/note/{{note.index}}">{{note.title || "Sans titre"}}</a>&nbsp;&nbsp;<span class="glyphicon glyphicon-trash floatr pointer" ng-dblclick="notesList.delNote($index)"></span>
        </div>
        <div class="panel-body pointer" ng-click="changeLocation('/note/'+note.index)">
            <md ng-model="note.content"></md>
        </div><div class="panel-footer">
            <i class="glyphicon glyphicon-tag"></i>
               <span ng-show="note.tags.length===0" class="text-primary">Pas de tag</span>
               <span ng-repeat="tag in note.tags"><span class="label label-info pointer" ng-click="changeLocation('/tag/'+tag)">{{tag}}</span> </span>
        </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="text-primary lead" ng-show="notesFound.length+todosFound.length===0">{{noResults}}</div>
</div>
