<div class="note-wrapper">
<h1>Notes</h1>
        <div class="text-info"><span class="pointer glyphicon glyphicon-plus" ng-click="addNote();"></span></div>
        <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3" ng-repeat="note in notes">
            <div class="panel panel-info">
            <div class="panel-heading">
                <span ng-show="note.star" class="glyphicon glyphicon-star pointer text-primary" ng-click="toggleStar(note)"></span>
                <span ng-show="!note.star" class="glyphicon glyphicon-star-empty pointer text-muted" ng-click="toggleStar(note)"></span>
                <a ng-href="#/note/{{$index}}">{{note.title || "Sans titre"}}</a>&nbsp;&nbsp;<span class="glyphicon glyphicon-trash floatr pointer" ng-dblclick="delNote($index)"></span>
            </div>
            <div class="panel-body pointer" ng-click="editNote($index)">
                <md ng-model="note.content"></md>
            </div><div class="panel-footer">
                <i class="glyphicon glyphicon-tag"></i>
                   <span ng-show="note.tags.length===0" class="text-primary">Pas de tag</span>
                   <span ng-repeat="tag in note.tags"><span class="label label-info pointer" ng-click="changeLocation('/tag/'+tag)">{{tag}}</span> </span>
            </div>
            </div>
        </div>
    <div class="spacer"></div>
    <div class="text-primary lead" ng-show="notes.length===0">Pas de notes</div>
</div>

