<div class="note-wrapper col-xs-12 col-md-6 col-sd-6 col-lg-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span ng-show="note.star" class="glyphicon glyphicon-star pointer text-primary" ng-click="toggleStar()"></span>
            <span ng-show="!note.star" class="glyphicon glyphicon-star-empty pointer text-muted" ng-click="toggleStar()"></span>
            <span editable-text="note.title" onaftersave="saveLocalStorage($data)">{{note.title || "Sans titre" }}</span><span class="glyphicon glyphicon-trash floatr pointer" ng-dblclick="delNote()"></span></div>
        <div class="panel-body">
            <div class="form-group">
            <textarea class="form-control" rows="10" ng-model="note.content"></textarea>
            <div class="spacer"></div>
            <button class="btn btn-primary" ng-click="saveLocalStorage()">Sauvegarder</button>
            <button type="button" class="btn btn-info glyphicon glyphicon-copy floatr" id="copy-btn" data-clipboard-text="{{note.toString()}}"></button>
            <hr />
            <md ng-model="note.content"></md>
            </div>
        </div>
        <div class="panel-footer">
            <i class="glyphicon glyphicon-tag"></i>
            <span ng-show="note.tags.length===0" class="text-primary">Pas de tag</span>
            <span ng-repeat="tag in note.tags"><span class="label label-info">{{tag}}&nbsp;<i class="glyphicon glyphicon-remove-circle pointer" ng-click="delTag(tag)"></i></span> </span>
            <div class="spacer"></div>
            <form class="inline-form" ng-submit="addTag()"><input class="form-control" type="text" size="30" placeholder="Nouveau tag" ng-model="tag" /></form>
        </div>
    </div>
<button type="button" class="btn btn-danger" ng-click="delNote()">Effacer cette note</button>
</div>

