<div class="todo-wrapper">
    <h1>Todos</h1>
        <div class="text-info"><span class="pointer glyphicon glyphicon-plus" ng-click="addTodo();"></span></div>
        <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3" ng-repeat="todo in todos">
            <div class="panel panel-info checkbox">
            <div class="panel-heading">
                <span ng-show="todo.star" class="glyphicon glyphicon-star pointer text-primary" ng-click="toggleStar(todo)"></span>
                <span ng-show="!todo.star" class="glyphicon glyphicon-star-empty pointer text-muted" ng-click="toggleStar(todo)"></span>
                <a ng-href="#/todo/{{$index}}">{{todo.title || "Sans titre"}}</a>&nbsp;&nbsp;<span class="glyphicon glyphicon-trash floatr pointer" ng-dblclick="delTodo($index)"></span>
            </div>
            <div class="panel-body pointer" ng-click="editTodo($index)">
                <span ng-repeat="task in todo.tasks"><span class="done-{{task.done}}">{{task.name}}</span><span ng-show="$index<(todo.tasks.length-1)"> / </span></span>
            </div><div class="panel-footer">
                <i class="glyphicon glyphicon-tag"></i>
                   <span ng-show="todo.tags.length===0" class="text-primary">Pas de tag</span>
                   <span ng-repeat="tag in todo.tags"><span class="label label-info pointer" ng-click="changeLocation('/tag/'+tag)">{{tag}}</span> </span>
            </div>
            </div>
        </div>
    <div class="spacer"></div>
    <div class="text-primary lead" ng-show="todos.length===0">Pas de listes</div>
</div>
