<div class="todo-wrapper col-xs-12 col-md-6 col-sd-6 col-lg-6"><div class="panel panel-info">
    <div class="panel-heading">
        <span ng-show="todo.star" class="glyphicon glyphicon-star pointer text-primary" ng-click="toggleStar()"></span>
        <span ng-show="!todo.star" class="glyphicon glyphicon-star-empty pointer text-muted" ng-click="toggleStar()"></span>
        <span editable-text="todo.title" onaftersave="saveLocalStorage($data)">{{todo.title || "Sans titre" }}</span>
        <span class="glyphicon glyphicon-trash floatr pointer" ng-dblclick="delTodo()"></span>
    </div>
    <div class="panel-body">
    <span>{{remaining()}} sur {{todo.tasks.length}} restant(s)</span>
    [ <a href="" ng-click="archive()">Nettoyer</a> ]
    <button type="button" class="btn btn-info glyphicon glyphicon-copy floatr" id="copy-btn" data-clipboard-text="{{todo.toString()}}"></button>
    <br /><br />
    <div class="checkbox" ng-repeat="task in todo.tasks" ng-class='done-{{task.done}}'>
        <label class="col-xs-11 col-md-10 col-sm-11 bb" ng-click="saveLocalStorage()"><input type="checkbox" ng-model="task.done" >
                <span editable-text="task.name" onaftersave="saveLocalStorage($data)" class='done-{{task.done}}' class="col-md-6">{{task.name || 'Vide'}}</span>
        </label>
        <span class="glyphicon glyphicon-remove text-danger clear pointer" ng-click="delTask($index)"></span>
    </div>
    <form class="inline-form" ng-submit="addTask()">
        <input class="form-control" type="text" ng-model="todoText"  size="30" placeholder="Ajouter une tache" />
    </form>
    </div>
    <div class="panel-footer">
        <i class="glyphicon glyphicon-tag"></i>
        <span ng-show="todo.tags.length===0" class="text-primary">Pas de tag</span>
        <span ng-repeat="tag in todo.tags"><span class="label label-info">{{tag}}&nbsp;<i class="glyphicon glyphicon-remove-circle pointer" ng-click="delTag(tag)"></i></span> </span>
        <div class="spacer"></div>
        <form class="inline-form" ng-submit="addTag()"><input class="form-control" type="text" size="30" placeholder="Nouveau tag" ng-model="tag" /></form>
    </div>
    </div>
    <div class="spacer"></div>
    <pre id="todotext">{{todo.toString()}}</pre>
    <button type="button" class="btn btn-danger" ng-click="delTodo()">Effacer cette liste</button>
    </div>
    <br /><br />
    <div id='import' ng-show='false'>
        <h2>Exportation / importation des données</h2>
        <span>Données actuelles :</span><br />
        <textarea class="form-control" rows="8"></textarea><br />
        <span>Données à importer :</span><br />
        <form ng-submit="importData()">
        <textarea class="form-control" rows="8" placeholder="Collez ici les données JSON.stringify"></textarea>
        <input class="btn btn-primary" type="submit" value="Importer">
        </form>
        <span class="warning">Attention les données importées écraseront votre contenu</span>
    </div>
